.home-page [role=button],
.home-page [type=submit] {
    --pico-background-color: #0044CC;
    --pico-border-color: #0044CC;
}

.home-page [role=button]:is(:hover, :active, :focus),
.home-page [type=submit]:is(:hover, :active, :focus) {
    --pico-background-color: #003BB5;
}

.home-page :where(a:not([role=button])) {
    --pico-color: #0044CC;
    --pico-background-color: transparent;
    --pico-underline: #0044CC;
    --pico-outline: none;
}

.home-page :where(a:not([role=button])):is(:hover, :active, :focus) {
    --pico-color: #003BB5;
    --pico-underline: #003BB5;
    --pico-text-decoration: underline;
    --pico-border: 2px solid #003BB5;
}
